/* XXX */

/*
Table of content
----------------
- Universal styles




*/




/* Universal styles */
html {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.4;

  border: 2px dotted blue;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.content-container {
  margin: 0 auto;
  max-width: 600px;

  border: 2px dotted red;
}


.hero-section {


  /* Full width background */
  background-image: url("../media/images/glasses-bg.png");

}

.main-section {


  /* Full width background */
  background-color: white;

}

.footer-section {


  /* Full width background */
  background-color: azure;

}
