/* XXX */

/*
Table of content
----------------
* Universal styles

* Hero section
  - Header
  - - Logo
  - - Navigation
  - Banner

* Main section

* Footer section





*/




/* Universal styles */
html {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.4;

  border: 2px dotted blue;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.content-container {
  margin: 0 auto;
  max-width: 54rem;

  //border: 2px dotted red;
}

.flex-container {
  display: flex;
}


/* Hero section */
.hero-section {
  box-sizing: content-box;
  padding: 1rem 0 1rem 0;
  height: 29rem;
  margin-bottom: 3rem;

  border: 2px dotted magenta;

  /* Full width background */
  background-color: Azure;
  background-image: url("../media/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/* - Header */
header {
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
  background-color: CadetBlue;
  align-items: center;
  padding: 1rem 1rem;
}

/* - - Logo */
.logo-header {
  align-items: center;
  margin: auto 1rem;
}

.logo-header img {
  max-height: 1.5rem;
}

.logo-header p {
  display: inline-block;
  white-space: nowrap;
  margin: auto 1rem;
}

/* - - Navigation */
.nav-header {
  flex-grow: 1;
}

.nav-header ul {
  float: right;
}

.nav-btn {
  display: inline;
  margin: auto 1rem;
}

.nav-btn a {
  text-decoration: none;
  color: white;
}

/* - Banner */
.hero-content {
  height: 25.5rem;
  width: 100%;
  padding: 0 1rem;

  border: 2px dotted yellow;
}

.hero-banner {
  background-color: white;
  position: relative;
  float: right;
  top: 10rem;
  right: -3rem;
}

.hero-banner h1 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 1.5rem 5rem;
}


/* Main section */
.main-section {
  margin-bottom: 5rem;

  /* Full width background */
  background-color: white;


  border: 2px dotted magenta;

}




/* Footer section */
.footer-section {
  margin-top: 2rem;


  /* Full width background */
  background-color: azure;

  border: 2px dotted magenta;

}
